*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: SF PRO DISPLAY;
}
body,html{
   width: 100%;
   height: 100%;
}
#main{
    position: relative;
    overflow-x: hidden;
}
 #page>#nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40px;
    background-color: #454545;
    gap: 40px;
}
#page>#nav>a{
    color: #999;
    font-weight: 100;
    font-size: 10px;
    color: #fff;
    text-decoration: none;
} 
#page
{
    position: relative;
    width: 100%;
    height: 100vh;
    
}
#page>#nav>i{
    text-align: center;
}
#page>#nav2{
 height:5vh ;
 display: flex;
 align-items: center;
 justify-content: center;
}
#page>#nav2>a{
    color: #166BCE;
    text-decoration: none;
}
#page>#nav2>p{
    color: #525254;
    font-weight: 100;
    font-size: 14px;
    white-space: 6px;
}
#page>h1{
font-size: 52px;
text-align: center;
position: absolute;
left: 50%;
transform: translateX(-50%);
top: 15%;
}
#page>h4{
color: #525254;
font-weight: 100;
font-size: 26px;
position: absolute;
top: 32%;
left: 50%;
transform: translateX(-50%);
text-align: center;
}
#page>h4>span{
    color: #166BCE;
}
#page>#vid{
  object-fit: cover;
  background-color: #F2F2F4;
}
#page>#vid>video{
    width: 100%;
    height: 88vh;
}
#page2{
    position: relative;
    height: 100%;
    width: 100%;
}
#page2>img{
   
    object-fit: cover;
    width: 100%;
    height: 90vh;
}
#page2>h1{
    font-size: 50px;
    transform: translateX(-50%);
    position: absolute;
    color: #fff;
    left: 50%;
    top: 6%;
    font-weight: 400;
}
#page2>h5{
    font-weight: 100;
    font-size: 30px;
    position: absolute;
    color: #fff;
    left: 50%;
    top: 14%;
    transform: translateX(-50%);
}
#page2>a{
    text-decoration: none;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 20%;
    color: #166BCE;
    display: flex;
    font-size: 19px;
}
#page3{
    position: relative;
    height: 100%;
    width: 100%;
}
#page3>img{
   
    object-fit: cover;
    width: 100%;
    height: 90vh;
}
#page3>h1{
    font-size: 50px;
    transform: translateX(-50%);
    position: absolute;
    color: #000;
    left: 50%;
    top: 6%;
    font-weight: 400;
}
#page3>h5{
    font-weight: 100;
    font-size: 30px;
    position: absolute;
    color: #000;
    left: 50%;
    top: 14%;
    transform: translateX(-50%);
}
#page3>a{
    text-decoration: none;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 20%;
    color: #166BCE;
    display: flex;
    font-size: 19px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.box
{
    display: flex;
    width: 680px;
    height:600px;
    margin-bottom: 20px;
    position: relative;
    font-size: 40px;
    color: white;
    background-size: cover;
    background-position: center;
   
}
.gallery
{
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}
.content>h1{
    position: absolute;
    font-size: 40px;
    font-weight: 100;
    top: 7%;
    left: 34%;
}
.content>h5{
    position: absolute;
    font-size: 20px;
    font-weight: 100;
    top: 15%;
    left: 42%;
}
.content>a{
    color: #166BCE;
    position: absolute;
    font-size: 10px;
    font-weight: 100;
    top: 20%;
    left: 45%;
    text-decoration: none;
}
.content-1>h1{
    position: absolute;
    font-size: 40px;
    font-weight: 100;
    top: 7%;
    left: 32%;
}
.content-1>h5{
    position: absolute;
    font-size: 20px;
    font-weight: 100;
    top: 15%;
    left: 40%;
}
.content-1>a{
    color: #166BCE;
    position: absolute;
    font-size: 10px;
    font-weight: 100;
    top: 20%;
    left: 43%;
    text-decoration: none;
}
.content-2>h1{
    position: absolute;
    font-size: 40px;
    font-weight: 100;
    top: 7%;
    left: 31%;
    color: black;
}
.content-2>h5{
    color: black;
    position: absolute;
    font-size: 20px;
    font-weight: 100;
    top: 15%;
    left: 40%;
}
.content-2>a{
    color: #166BCE;
    position: absolute;
    font-size: 10px;
    font-weight: 100;
    top: 20%;
    left: 43%;
    text-decoration: none;
}
footer {
    background-color: #FBFBFD;
    padding: 20px 0;
    text-align: center;
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
    color: #999;
  }